# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/

# Dev/test
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

# Secrets
.env
.env.*

# Misc
.git/
.gitignore
README.md
